#configurable
  text-align: center
  min-height: 400px

  .image.help
    image: '../images/screenshot-help.png' 640px 311px
    height: 311px
    width: 640px

  .text
    max-width: 400px
    margin-left: 40px

  @media only screen and (max-width : 1205px)
    .text
      margin: 0
      max-width: 560px

    h1
      margin-top: 20px