footer 
  color: #999
  margin: 160px 0 0 0
  padding: 20px 60px 0px 100px
  text-align: left
  vertical-align: middle
  background: #eeeeee
  border-top: 1px solid #ccc
  box-shadow(0 -1px 0px -1px #fff)
  //border-top: 1px dashed #ccc
  text-align: center

  ul li 
    margin-left: 0
    list-style: none

  .content 
    min-width: 800px
    display: inline-block
    text-align: left
    position: relative
    h1 
    font-weight: bold
    margin-bottom: 8px
    color: #808080
    position: relative
    display: inline-block

      

  .col 
    width: 260px
    display: inline-block
    vertical-align: top
    height: 60px
    line-height: 1.4
    text-align: left
    padding-bottom: 20px
    margin-left: 40px

    // &:first-child 
    //   margin-left: 0
    //   //margin-right: 100px
    //   width: 280px
    //   
  a.badrabbit 
    position: absolute
    top: -140px
    left: 50%
    margin-left: -32px
    height: 64px
    width: 64px
    background: url('images/company_logo.png') no-repeat
    background-size: auto 64px

  
  a, a:link, a:visited 
    text-decoration: none
    color: #999
    font-weight: bolder

    &:hover 
      color: #888